*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    background-color: #f0f0f0 !important;

}

body::-webkit-scrollbar {
    width: 7px;
  }
body::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: #ff6d00
  }
body::-webkit-scrollbar-track {
    background: #10002b;
}

.titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 9vw;
}

.container{
    margin-top: 2vw;
    width: 100%;
    height: 35vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    background-color: #FFF;
    border-radius: 1vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 100%;
    width: 25%;
    padding: 1vw;

}

.left h1{
    font-size: 1.5vw;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 5px solid #10002b;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #10002b;
    background-image: none;
    cursor: pointer;
    border-radius: 15px  !important;  
    overflow: auto;
    
}

option:hover{
    background-color: #ff6d00;
}

::-webkit-scrollbar{
    /* background-color: #240046; */
    background-color: #10002b;
    width: 5px;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;

}
::-webkit-scrollbar-thumb{
    /* background-color: #3C096C; */
    background-color: #ff6d00;
    border-radius: 10px;
}
  /* Remove IE arrow */
/* select::-ms-expand {
    display: none;
} */
  /* Custom Select wrapper */
/* .select {
    margin-bottom: 25VW;
    position: relative;
    background-color: #10002b;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .5vw .5vw .2vw .2vw;
    overflow: hidden;
} */
  /* Arrow */
/* .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #ff6d00;
    transition: .25s all ease;
    pointer-events: none;
} 
  /* Transition */
/* .select:hover::after {
    color: #f39c12;
  }  */ 
  
.center{
    border-radius: 1vw;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 100%;
    width: 35%;
}

.center h1{
    font-size: 1.5vw;
}

.nome{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bloco{
    width: 80%;
    height: 80%;
    border-radius: 1vw;
    background-color: #f8f9fa !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.bloco h2{
    font-size: 1vw;
}
.value{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.maior{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 80%;
    background-color: #f8f9fa !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 40%;
    border-radius: 1vw;
}

#mxdia{
    color: green;
    font-size: 2vw;
}

#mndia{
    color: red;
    font-size: 2vw;
}

#preco{
    color: rgb(49, 49, 228);
    font-size: 2vw;
}

.menor{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 80%;
    background-color: #f8f9fa !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 40%;
    border-radius: 1vw;
}


.menor h2{
    font-size: 1.5vw;
    text-align: center;
}

.maior h2{
    font-size: 1.5vw;
    text-align: center;
}

.right{
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 100%;
    width: 25%;
    gap: 2vw;
}

.right h1{
    font-size: 1.5vw;
}

.right iframe{
    width: 90%;
    height: 17vw;
}

.right p{
    font-size: .9vw;
    text-align: center;
}

@media screen and (max-width: 907px) {

    .container{
        gap: 5vw;
        flex-direction: column;
        height: 100%;
    }

    .left{
        height: 300px !important;
        width: 90%;
    }
    
    .left h1{
        font-size: 3vw;
    }

    .left .select{
        width: 90%;

    }

    .center{
        height: 1000000px !important;
        width: 90%;
    }

    .center h1{
        font-size: 3vw;
    }

    .right{
        width: 90%;
        height: 600vw !important;
    }

    header{
        height: 100px;
    }

    .right iframe{
        height: 38vw;
    }

    .right h1{
        font-size: 3vw;
    }

    .right p {
        font-size: 12px;
    }

    #mxdia{
        font-size: 4vw;
    }
    
    #mndia{
        font-size: 4vw;
    }
    
    #preco{
        font-size: 4vw;
    }

    .maior h2{
        font-size: 3vw;
    }

    .menor h2{
        font-size: 3vw;
    }

    .bloco h2{
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {

    .container{
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {


}