body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tudo{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 37vw;
    background-color: #10002b;
    color: #ff6d00;
    border-radius: 5% 0 0 5%;
}

.separar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
}

#formAddCliente{
    display: flex;
    gap: 1.5vw;
}

.esquerda{
    width: 20vw;
    height: 31vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}

.direita{
    width: 20vw;
    height: 31vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;

}

.foto img{
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.final{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 47.5vw;
    gap: 2vw;
}

.finalEsquerda{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}

.finalDireita{
    display: flex;
    width: 50%;
    gap: 1vw;
    margin-left: 3%;
}