*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 7px;
  }
body::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: #ff6d00
  }
body::-webkit-scrollbar-track {
    background: #10002b;
}


.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
p {
    font-size: 18px;
    margin: 10px 0;
}