*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
overflow-x: hidden;
width: 100%;

}
.cambio{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
body::-webkit-scrollbar {
    width: 7px;
  }
body::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: #ff6d00
  }
body::-webkit-scrollbar-track {
    background: #10002b;
}


.container {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    overflow: hidden; 
    animation: transacao 45s infinite linear;
    
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.container div {
    text-align: center;
    color: #000;
    flex-direction: column;
    display: flex;
    padding: 1vw;
    justify-content: space-around;
    align-items: center;
   
}

@keyframes transacao {
    from {
        transform: translateX(130%); /* Começa fora da tela à direita */
    }
    to {
        transform: translateX(-130%); /* Termina fora da tela à esquerda */
    }
}

p {
    font-size: 18px;
    margin: 10px 0;
}
#chartdiv {
    display:  flex;
    width: 80%;
    height: 30vw;
  }