*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    background-color: #e9ecef;
    color: #10002b;
}
.dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloDividasPagas {
    margin-top: 20px;
}
.containerDividasPagas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}
.cardDividaPaga {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    color: #333;
}
.btnDividaPaga {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: not-allowed;
}


.tituloDash{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vw;
    text-align: center;
    font-size: 1.2vw;
    margin-top: 2vw;
}
.caixinhaSonhos {
    background-color: #f9f9f9;
    border-radius: 1vh; /* Proporcional ao tamanho da tela */
    padding: 2vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
    margin: 2vh auto;
    max-width: 60vw; /* Ajustado para largura relativa */
    font-family: 'Arial', sans-serif;
}

.caixinhaSonhos h2, .caixinhaSonhos h3 {
    color: #10002b;
}

.caixinhaSonhos form {
    margin-bottom: 2vh;
}

.caixinhaSonhos input[type="text"], 
.caixinhaSonhos input[type="number"] {
    width: 100%;
    padding: 1vh;
    margin: 1vh 0;
    border: 0.1vh solid #ddd;
    border-radius: 0.5vh;
}

.caixinhaSonhos input[type="submit"] {
    background-color: #ff6d00;
    color: #fff;
    border: none;
    padding: 1vh 2vw;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.caixinhaSonhos input[type="submit"]:hover {
    background-color: #e65c00;
}

.progress-container {
    background-color: #e0e0e0;
    border-radius: 2vh;
    height: 2vh;
    width: 100%;
    margin: 1.5vh 0;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    background-color: #ff6d00;
    height: 100%;
    transition: width 0.5s ease;
    border-radius: 2vh;
}

.meta {
    margin-bottom: 2vh;
}

.meta-concluida {
    color: green;
    font-weight: bold;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.planFinanceiro {
    
    background-color: #f9f9f9;
    border-radius: 1vh;
    padding: 2vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
    max-width: 40vw;
    margin: 2vh auto;
    margin-top: 10vh;
    font-family: 'Arial', sans-serif;
}
.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #ff6d00; /* Cor que combina com seu tema */
}

.fechar:hover {
    color: #10002b;
}


.planFinanceiro form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.planFinanceiro label {
    font-weight: bold;
    color: #10002b;
    margin-bottom: 1vh;
    font-size: 1.4vh;
}

.planFinanceiro input[type="number"] {
    width: 100%;
    padding: 1vh;
    margin-bottom: 1.5vh;
    border: 0.1vh solid #ddd;
    border-radius: 0.5vh;
    font-size: 1.4vh;
    color: #333;
}

.planFinanceiro input[type="submit"] {
    background-color: #ff6d00;
    color: white;
    border: none;
    padding: 1vh 2vw;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 1.4vh;
    transition: background-color 0.3s ease;
}

.planFinanceiro input[type="submit"]:hover {
    background-color: #e65c00;
}

.planFinanceiro label, 
.planFinanceiro input {
    font-family: 'Arial', sans-serif;
}

.planFinanceiro .reserva-atual {
    font-size: 1.6vh;
    color: #555;
    margin-bottom: 1.5vh;
    display: block;
    text-align: left;
}

.popup-content {
    background: white;
    padding: 2vh;
    border-radius: 1vh;
    text-align: center;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
}

.popup-content button {
    background-color: #ff6d00;
    color: white;
    border: none;
    padding: 1vh 2vw;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #e65c00;
}


.alterarDados {
    margin: 20px;
    padding: 20px;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.alterarDados h2 {
    margin-bottom: 10px;
    color: #10002b;
}

.alterarDados form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.alterarDados label {
    margin-bottom: 5px;
    font-weight: bold;
}

.alterarDados input, .alterarDados select, .alterarDados button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.alterarDados button {
    background-color: #ff6d00;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.alterarDados button:hover {
    background-color: #e65a00;
}


.tituloDash a{
    color: #ff6d00;
}

.infoGastos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28vw;
    width: 100%;
}

.esquerdaInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}

#chartdiv {
    width: 100%;
    height: 75%;
}

.direitaInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    gap: 2vw;
}

.divGastos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 28%;
    border-radius: 1vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #fff;
    font-size: 1vw;
}

.iconeGastos{
    display: flex;
    margin-right: 13vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.iconeGastos img{
    width: 100%;
    height: 70%;
}

.nomeGasto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.propGasto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.tituloDividas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vw;
    color: #ff6d00;
    font-size: 1.5vw;
}

.tituloDividas a{
    color: #10002b;
}

.espacoBtnDividas{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 6vw;
    height: 3vw;
    width: 100%;
}

.btnDividas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 18vw;
    gap: .5vw;
    border-radius: 2vw;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

.btnDividas:hover{
    background-color: #10002b;
}

.btnDividas:hover a, .btnDividas:hover i{
    color: white;
}

.btnDividas a{
    border-radius: 50%;
    font-size: 1.4vw;
}

.laranja{
    color: #ff6d00 !important;
}

.subDividas {
    display: flex;
    position: absolute;
    top: 50vw;
    right: 3vw;
    height: 20vw;
    width: 20vw;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    border-radius: 0.5vw;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    flex-direction: column;
}

.btnDividas:hover .subDividas {
    opacity: 1;
    visibility: visible;
}

.espacoCimaDividas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    gap: 2vw;
}

.espacoCimaDividas a{
    border-bottom: #ff6d00 solid 4px;
    border-radius: 0 !important;
    color: black !important;
}

.espacoBaixoDividas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    gap: .2vw;
}

.linhaDivida{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

.divnomeDivida, .divValorDivida, .divStatusDivida{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}

.divnomeDivida p, .divValorDivida p{
    color: black !important;
    font-size: 1vw !important;
}

.divStatusDivida p{
    color: green !important;
    font-size: 1vw;
}










.espacoDividas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vw;
}

.espacoBtnEsquerda, .espacoBtnDireita{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}

.btnEsquerda, .btnDireita{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #10002b solid 2px;
    width: 30%;
    height: 12%;
    border-radius: 50%;
    cursor: pointer;
}

.containerDividas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    gap: 4vw;
    height: 100%;
    overflow-x: auto;
    margin-left: 1vw;
    scroll-behavior: smooth;
}

.cardDivida {
    background-color: #ff6d00;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    display: flex;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vw;
    flex: 0 0 15vw; /* A largura agora depende do espaço disponível no contêiner */
    margin-left: 1vw;
}

.containerDividas::-webkit-scrollbar{
    display: none;
}

.nomeDivida{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #10002b;
    height: 20%;
    font-size: 2vw;
    width: 100%;
}

.valorDivida, .jurosDivida, .tempoDivida{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5vw;
    height: 20%;
    width: 100%;
}

.tempoDivida{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1vw;
    height: 20%;
    width: 100%;
}

.btnDivida{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3vw;
}

.voltar{
    position: absolute;
    height: 10vh;
    font-size: 2vh;
    filter: none;
    width: 20vh;
    display: none;
    cursor: pointer;
    margin-left: 160vh;
    margin-top: -3vh;
    background-color: #10002b;
    border-radius: 2vh;
    border: solid 1vh white;
    color: white;
    transition: 0.5s;
}
.voltar:hover{
    background-color: #e65a00;
    border: solid #10002b;
    color: #10002b;
    box-shadow: 0.1vh 0.1vh 1vh black;
}

.botaoDivida{
    width: 10vw;
    height: 60%;
    font-size: 1vw;
    color: #ff6d00;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    border-radius: 2vw;
    cursor: pointer;
}
.borrado {
   
        filter: blur(5px); /* Aplica o desfoque */
        pointer-events: none; /* Desabilita interações com o fundo */
        user-select: none; /* Evita seleção de texto no fundo */

}
.btnDividaPaga{
    width: 10vw;
    height: 1.8vw;
    background-color: #10002b;
    font-size: 1vw;
    color: #ff6d00;
    border: none;
    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    border-radius: 2vw;
}

.espacoBtnDivida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    height: 5vw;
}
.formAtualizarSaldo{
    filter: none;
    pointer-events: auto;
}
.btnAdicionarDivida{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    height: 3vw;
    width: 15vw;
    text-decoration: none;
    text-align: center;
    color: #10002b;
    border-radius: 2vw;
    background-color: #e9ecef;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    margin-bottom: 4vw;
    gap: 1vw;
}

.btnAdicionarDivida:hover{
    color: #ff6d00;
}

.btnAdicionarDivida:hover i{
    color: #ff6d00;
}

.btnAdicionarDivida i{
    font-size: 2vw;
    color: #10002b;
}

.espacoBtnFixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vw;
}

.btnAdicionarFixo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    height: 3vw;
    width: 15vw;
    text-decoration: none;
    text-align: center;
    color: #10002b;
    border-radius: 2vw;
    background-color: #e9ecef;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    margin-bottom: 4vw;
    gap: 1vw;
}

.btnAdicionarFixo:hover{
    color: #ff6d00;
}

.btnAdicionarFixo:hover i{
    color: #ff6d00;
}

.btnAdicionarFixo i{
    font-size: 2vw;
    color: #10002b;
}


.tituloFixo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2vw;
    margin-top: 6vw;
    font-size: 1.3vw;
}

.tituloFixo a{
    color: #ff6d00;
}

.containerFixo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 23vw;
    gap: 2vw;
    flex-wrap: wrap ;
    
}

.cardFixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 13vw;
    border-radius: 1vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    font-size: 1.7vw;
}

.nomeFixo{
    color: #ff6d00;
    font-size: 3vw;
}
