*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #10002b;
}

.user-photo{
    margin-bottom: .5vw;
}

.tituloConteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13vw;
    gap: .8vw;
}

.tituloConteudo a{
    font-size: 2vw;
}

.laranja{
    color: #ff6d00;
}

.introducao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 6vw;
}

.tituloIntroducao{
    display: flex;
    align-items: center;
    width: 80%;
    height: 30%;
    font-size: 1.6vw;
}

.textoIntroducao{
    display: flex;
    align-items: center;
    width: 80%;
    height: 70%;
    font-size: 1vw;
}

.fase1, .fase2, .fase3, .fase4, .fase5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    flex-direction: column;
    margin-top: 4vw;
}

.fase2, .espacoVideo2, .espacoBtn2, .fase3, .espacoVideo3, .espacoBtn3, .fase4, .espacoVideo4, .espacoBtn4, .fase5, .espacoVideo5, .espacoBtn5 {
    filter: blur(5px);
    transition: filter 0.3s ease;
    pointer-events: none;
  }
  
  .desbloqueada {
    filter: none;
    pointer-events: auto;
  }
  

.faseG{
    font-size: 1.7vw;
    font-weight: bold;
    color: #ff6d00;
}

.nomeFase{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 1vw;
    margin-right: 2vw;
    color: #ff6d00;
    font-size: 1.7vw;
}

.textoFase{
    display: flex;
    width: 100%;
    height: auto;
    font-size: 1vw;
    flex-direction: column;
    gap: .4vw;
}

.espacoVideo1, .espacoVideo2, .espacoVideo3, .espacoVideo4, .espacoVideo5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 24vw;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38.5%;
    height: 80%;
    background-color: #ff6d00;
    border-radius: .5vw;
}

.espacoBtn1, .espacoBtn2, .espacoBtn3, .espacoBtn4, .espacoBtn5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vw;
}

.btnFase1 button, .btnFase2 button, .btnFase3 button, .btnFase4 button, .btnFase5 button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vw;
    width: 12vw;
    font-size: 1.3vw;
    border-radius: .5vw;
    border: solid #ff6d00;
    color: #ff6d00;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
}