*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}


body::-webkit-scrollbar {
    width: 7px;
  }
body::-webkit-scrollbar-thumb {
    border-radius: 80px;
    background: #ff6d00
  }
body::-webkit-scrollbar-track {
    background: #10002b;
}
.carousel-item{
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel-item img{
    height: 42vw;

}
/* background-color: #10002b; color: #ff6d00;*/


/* Quem somos */


.quemSomos{
    display: flex;
    gap: 2vw;
    width: 100%;
    padding: 1vw;
    flex-direction: column;
    align-items: center;
}

.quemSomos > div{
    display: flex;
    padding: 1vw;
    justify-content: space-around;
    width: 50vw;
 
    border: solid #10002b 0.6vh;
    border-radius: 3vw;
    align-items: center;
}
.quemSomos > div > img{
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

.quemSomos > div > h1{
    width: 30vw;
    font-size: 1vw;
}


/* Serviços */
.servicos{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10vw 0vw;
    flex-direction: column;
}

.servicos > div{
    display: flex;
    flex-direction: row;

    width: 100%;
   justify-content: space-around;
}


.servicos > div > div{
    width: 20vw;
    display: flex;

    width: 20vw;
    height: 22vw  ; 
    justify-content: space-around   ;
    align-items: center;
    flex-direction: column;
}

.servicos > div > div > div{
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 0.3vw #10002b;
    border-radius: 2vw;
}

.servicos > div > div > div > input{
    background-color: #10002b;
    color: #ff6d00;
    font-size: 1vw;
    padding: 0.4vw 0.9vw;
    border-radius: 0.5vw; 
}
.servicos > div > div > div > h1{

    font-size: 0.6vw;
    color: #ff6d00;
    font-weight: 800;

}


/* Diferencial */
.nossoDiferencial{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.nossoDiferencial > div{
    display: flex;
    align-items: center;
    gap: 0 10vw;

}
.nossoDiferencial >div> h2{
    font-size: 1vw;
    width: 40vw;
    color: #10002b;
    font-weight: 700;
}
.grafico{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 5vh;
}

.titulo h1{
    font-family: titulo;
    font-size: 60px;
}
#chartdiv {
    width: 95%;
    height: 30vw;
  }


