@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter',sans-serif;
}

body{
    background-color: #f1f6fc31;
}

section,
footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #272626;

}
.container{
    max-width: 1400px;
    margin: auto;
    /*padding: 0 5%;*/
}
.btn{
    background-color: #ff6d00 ;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.btn:hover{
    background-color:#c25400 ;
}

.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}

@keyframes animate-outline {
    from{
        outline: 0px solid #ff6d00  ;
    }
    to{
        outline: 15px solid #10002b09;
    }

}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;

    
}
header.rolagem{
    background-color: #10002b;
    padding: 10px 4%;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    margin: 0 40px;
}
nav ul a:not(.btn):after{
    content: "";
    background-color: #ff6d00;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}
/*menu mobile*/
.flex .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: #ff6d00;
    display: none;
}
.banner{
display: flex;
justify-content: center;
height: 100vh;
background-position: center;
background-size: cover;
background-attachment: fixed;

}
.banner .banner-text{
margin: 300px;
text-align: center;
padding: 0 90px;
}
.banner .banner-text h1{
font-size: 96px;
color: #ffffff;
}
.banner .banner-text p{
font-size: 20px;
color: #ffffffd8;
font-weight: lighter;
margin: 18px 0;
}
/*faca mais*/
.faca-mais .container{
display: flex;
align-items: center;
}
.faca-mais .faca-mais-txt{
width: 50%;
padding: 0 40px;
}

.faca-mais .faca-mais-txt h3{
font-size: 56px;
}
.faca-mais .faca-mais-txt p{
margin: 5px 0px 10px 0px;
font-size: 17px;

}

.faca-mais .faca-mais-img{
width: 50%;


}

.faca-mais .faca-mais-img img{
width: 100%;
}
/*depoimentos*/

.depoimentos h3{
text-align: center
}
.depoimentos p{
margin-bottom: 20px;
text-align: center;
}
.cards{
display: flex;
justify-content: center;
}
.cards2{
display: flex;
justify-content: center;
}
.depoimentos .card-item{
background-color: #f5f5f5;
margin: 15px;
border-radius: 14px;
text-align: center;
width: 350px;
transition: 0.3s;
}
.depoimentos .card-item img{
border-radius: 100px;
width: 180px;
display: block;
margin: 10px auto;
}
.depoimentos .card-item .nome-user{
font-weight: 600;
font-size: 20px;
margin-bottom: 15px;
transition: 0.3s;
}
.depoimentos .card-item .depoimento-user{
font-size: 15px;
padding: 0 15px; 
transition: 0.3s;   
}
.depoimentos .card-item:hover{
cursor: pointer;
background-color: #10002b;
margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user{
color: #ffffff;
}
/*campeonatos*/
.clientes h3,
.clientes p{
text-align: center;

}
.clientes .container div{
display: flex;
align-items: center;
justify-content: space-around;
}
/*footer*/
.footer{
background-color: #10002b;
text-align: center;
}
.footer i{
color: #10002b;
font-size: 19px;
background-color: white;
padding: 10px;
margin: 3px;
border-radius: 10px;

}
.footer p {
margin-top: 10px;
color: white;
}

@media screen and(max-width:900px){
header nav , header .btn-contato{
display: none;
}


}