*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.alerta {
    opacity: 1;
    transition: opacity 1s ease-out;
}


.green{
    background-color: green;
    width: 100%;
    height: 2vw;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    align-items: center;
    margin-top: -.2vw !important;
}

.red{
    background-color: #c50000;
    width: 100%;
    height: 2vw;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    align-items: center;
    margin-top: -.2vw !important;
}**


section.hero-site{
    height: 98vh;
    background-image: url(../PICS/imgs/background-home2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span{
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span{
    display: block;
}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/*estilo das vantagens*/
section.vantagens{
    padding: 80px 0;

}
.vantagens .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;


}

.vantagens .itens-container .img-itens img{
    max-width: 480px;
}

.vantagens .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
    color: #10002b;
}

.itens-container .txt-itens h3 span{
    color: #ff6d00;
    font-weight: 300;
}

/*Estilo dos botões de contato*/
section.contato{
    background-color: #e3e3e3;
    padding: 80px 0;
}

.txt-contato , .icons-contato{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3{
    font-size: 2.5em; 
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span{
    color: #10002b;
    display: block;
    font-weight: 700;

}
.contato .icons-contato a{
    text-decoration: none;
    
}

.contato .icons-contato button{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 60px;
    margin:  0 auto 20px auto;
    padding: 0 60px;

    background-color: transparent;
    border: 2px solid #10002b;
    cursor: pointer;
    transition: 0.4s;

}

.contato .icons-contato button i{
    font-size: 24px;
}

.contato .icons-contato button:hover{
    background-color: #10002b;
}

.contato .icons-contato button:hover i , .contato .icons-contato button:hover p {
    color: #ff6d00;
}

/*Estilo da Sessão hotéis*/
section.hoteis{
    height: 600px;

    background-image: url(../PICS//imgs/backgroun-sobre-nos2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    
}
.hoteis > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

}

.hoteis h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.hoteis h3 span{
    display: block;
    font-weight: 600;
    color: #ff6d00;

}
.hoteis p{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.hoteis button{
    width: 220px;
    height: 60px;
}

/*Estilo Como Funciona*/

section.como-funciona{
    padding: 80px 0;
    background-color: #e3e3e3;
}

.txt-funciona, .instrucoes{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.como-funciona .txt-funciona{
    position: sticky;
    top: 50%;
    padding-bottom: 35px;
}

.como-funciona .txt-funciona h3{
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
    color: #ff6d00;
}

.como-funciona .txt-funciona h3 span{
    display: block;
    font-weight: 700;
    color: #10002b;
}

.instrucoes .instru-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 20px;

    margin-bottom: 40px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.instrucoes .instru-box:hover{
    background-color: #10002b;
    color: #ff6d00;
}

.instrucoes .instru-box img{
    max-width: 100px;
}

.instrucoes .instru-box h4{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
}

.instrucoes .instru-box h4 span{
    font-weight: 300;
}

.instrucoes .instru-box p{
    line-height: 20px;
}
