*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.topoSave{
    display: flex;
    align-items: center;
    height: 43vw;
    width: 100%;
    background-image: url(../PICS/imgsSobreNos/img_topo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.topoEsquerda{
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    height: 43vw;
    width: 28%;
    margin-left: 10%;
}

.nomeEsquerdaTopo{
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin-bottom: 5vw;
}

.nomeEsquerdaTopo a{
    color: white;
    font-weight: bold;
    font-size: 5vw;
    height: 20%;
}

.textoEsquerdaTopo{
    display: flex;
    align-items: start;
    width: 100%;
    height: 30%;
}

.textoEsquerdaTopo a{
    color: #adb5bd;
    font-size: 1.3vw;
}

.espacoAntesTudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 23vw;
    font-size: 3vw;
}

.tituloAntes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: #ff6d00;
}

.tituloAntes a{
    padding-bottom: 5vw;
    margin-left: 40%;
}

.textoAntes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    color: black;
}

.textoAntes a{
    padding: 10vw;
    font-size: 1.2vw;
}

.espacoGrafico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 33vw;
    width: 100%;
}

.textoGrafico{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.textoGrafico  div{
    height: 70%;
    background-color: #ff6d00;
    width: 2vw;
    margin-right: 1vh;
}
.textoGrafico h1{
    font-weight: 300;
}

.espacoOQ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    flex-direction: column;
    background-color: #10002b;
}

.tituloOQ{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    
}

.tituloOQ a{
    font-size: 3vw;
    color: white;
    margin-left: 10%;
}

.espacoCardOQ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 75%;
    gap: 3vw;
}

.cardOQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
}

.fotoCardOQ{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.textoCardOQ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;

}

.textoCardOQ a{
    color: white;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 20%;
}

.espacoEstamos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    background-image: url(../PICS/imgsSobreNos/img_Maos.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
}

.tituloEstamos{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    
}

.tituloEstamos a{
    color: #ff6d00;
    font-size: 3vw;
    margin-left: 10%;
}

.infosEstamos{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 60%;
    flex-direction: column;
    margin-bottom: 7vw;
}

.infosEstamos .t{
    margin-left: 50%;
    margin-bottom: 1%;
    height: 50%;
    width: 50%;
    color: white;
    font-size: 1.5vw;
    
}

.btnEstamos{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 10%;
    margin-left: 50%;
    cursor: pointer;
}

.btnEstamos:hover a{
    background-color: #ff6d00;
}

.btnEstamos a{
    font-size: 1.6vw;
    width: 50%;
    text-align: center;
    padding: 1%;
    border: solid white 5px;
    color: white;
    margin-left: 5%;
}

.espacoCrono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    background-color: #10002b;
}

.tituloCrono{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    
}

.tituloCrono a{
    color: white;
    font-size: 3vw;
    margin-left: 10%;
}

.infosCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    flex-direction: column;
}

.divisaoCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 5%;
}

.bola{
    height: 100%;
    width: 3%;
    background-color: #ff6d00;
    border-radius: 50%;
}

.traco{
    height: 10%;
    width: 15%;
    background-color: #ff6d00;
}

.cimaCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35%;
}

.divCimaCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
    text-align: center;
}

.divCimaCrono a{
    color: white;
    font-size: 1.3vw;
}

.divCimaCrono .laranja{
    color: #ff6d00;
}

.divCimaCrono .laranja2{
    margin-bottom: 3vw;
    color: #ff6d00;
}

.baixoCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 35%;
}

.divBaixoCrono2, .divBaixoCrono1, .divBaixoCrono3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
}

.divBaixoCrono1 .laranja, .divBaixoCrono2 .laranja, .divBaixoCrono3 .laranja{
    color: #ff6d00;
}

.divBaixoCrono1 a{
    margin-left: 5%;
    color: white;
    font-size: 1.3vw;
    text-align: center;
}

.divBaixoCrono2 a, .divBaixoCrono3 a{
    text-align: center;
    color: white;
    font-size: 1.3vw;
}

.divBaixoCrono3{
    margin-right: 1%;
}

.divBaixoCrono2 a{
    margin-left: 3%;
}

