*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

header{
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    margin-bottom: 2vw;
    background-color: none;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Menu Dinamico*/
header.rolar{
    background-color: #10002b;
    padding: 20px 0;
    box-shadow: 0 0 8px #00000061;
    z-index: 999999999999999999999999 ;
}

.topoSave{
    display: flex;
    align-items: center;
    height: 50vw;
    width: 100%;
    background-image: url(../PICS/imgsSobreNos/img_topo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.topoEsquerda{
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    height: 43vw;
    width: 28%;
    margin-left: 10%;
}

.nomeEsquerdaTopo{
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin-bottom: 5vw;
}

.nomeEsquerdaTopo a{
    color: white;
    font-weight: bold;
    font-size: 5vw;
    height: 20%;
}

.textoEsquerdaTopo{
    display: flex;
    align-items: start;
    width: 100%;
    height: 30%;
}

.textoEsquerdaTopo a{
    color: #adb5bd;
    font-size: 1.3vw;
}

.espacoAntesTudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vw;
    font-size: 3vw;
}

.tituloAntes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: #ff6d00;
}

.tituloAntes a{
    padding-bottom: 5vw;
    margin-left: 40%;
}

.textoAntes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    color: black;
}

.textoAntes a{
    padding: 10vw;
    font-size: 1.2vw;
}

.espacoGrafico{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vw;
    width: 100%;
}

.textoGrafico{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.textoGrafico  div{
    height: 70%;
    background-color: #ff6d00;
    width: 2vw;
    margin-right: 1vh;
}
.textoGrafico h1{
    font-weight: 300;
}

.espacoOQ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    flex-direction: column;
    background-color: #10002b;
}

.tituloOQ{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    
}

.tituloOQ a{
    font-size: 3vw;
    color: white;
    margin-left: 10%;
}

.espacoCardOQ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 75%;
    gap: 3vw;
}

.cardOQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
}

.fotoCardOQ{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.textoCardOQ{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;

}

.textoCardOQ a{
    color: white;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 20%;
}

.espacoEstamos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    background-image: url(../PICS/imgsSobreNos/img_Maos.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
}

.tituloEstamos{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    
}

.tituloEstamos a{
    color: #ff6d00;
    font-size: 3vw;
    margin-left: 10%;
}

.infosEstamos{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 60%;
    flex-direction: column;
    margin-bottom: 7vw;
}

.infosEstamos .t{
    margin-left: 50%;
    margin-bottom: 1%;
    height: 50%;
    width: 50%;
    color: white;
    font-size: 1.5vw;
    
}

.btnEstamos{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 10%;
    margin-left: 50%;
    cursor: pointer;
}

.btnEstamos:hover a{
    background-color: #ff6d00;
}

.btnEstamos a{
    font-size: 1.6vw;
    width: 50%;
    text-align: center;
    padding: 1%;
    border: solid white 5px;
    color: white;
    margin-left: 5%;
}

.espacoCrono{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    background-color: #10002b;
}

.tituloCrono{
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    
}

.tituloCrono a{
    color: white;
    font-size: 3vw;
    margin-left: 10%;
}

.infosCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    flex-direction: column;
}

.divisaoCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 5%;
}

.bola{
    height: 100%;
    width: 3%;
    background-color: #ff6d00;
    border-radius: 50%;
}

.traco{
    height: 10%;
    width: 15%;
    background-color: #ff6d00;
}

.cimaCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 35%;
}

.divCimaCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
    text-align: center;
}

.divCimaCrono a{
    color: white;
    font-size: 1.3vw;
}

.divCimaCrono .laranja{
    color: #ff6d00;
}

.divCimaCrono .laranja2{
    margin-bottom: 3vw;
    color: #ff6d00;
}

.baixoCrono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 35%;
}

.divBaixoCrono2, .divBaixoCrono1, .divBaixoCrono3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
}

.divBaixoCrono1 .laranja, .divBaixoCrono2 .laranja, .divBaixoCrono3 .laranja{
    color: #ff6d00;
}

.divBaixoCrono1 a{
    margin-left: 5%;
    color: white;
    font-size: 1.3vw;
    text-align: center;
}

.divBaixoCrono2 a, .divBaixoCrono3 a{
    text-align: center;
    color: white;
    font-size: 1.3vw;
}

.divBaixoCrono3{
    margin-right: 1%;
}

.divBaixoCrono2 a{
    margin-left: 3%;
}

.espacoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    width: 100%;
    background-color: #120130;
    flex-direction: column;
}

.conteudoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    gap: 4vw;
}

.fotoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 40%;
    background-color: #adb5bd;
}

.fotoPerfil img{
    height: 100%;
    width: 100%;
    border: solid .2vw #ff6d00;
}

.espacoTextoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 40%;
    margin-top: 4%;
    flex-direction: column;
}

.tituloPerfil{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
    flex-direction: column;
}

.tituloPerfil a{
    height: 40%;
    color: white;
    font-size: 2.8vw;
    font-weight: bold;
}

.sepPerfil{
    margin-bottom: 7%;
}

.textoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.textoPerfil a{
    color: white;
    font-size: 1.3vw;
}

.espacoBtnPerfil{
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
    margin-top: 2%;
}

.btnPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    background-color: #ff6d00;
    cursor: pointer;
}

.btnPerfil:hover{
    background-color: #10002b;
    border: solid .2vw #ff6d00;
    color: #ff6d00;
}

.btnPerfil:hover a{
    color: #ff6d00;
}

.btnPerfil a{
    color: white;
    font-size: 1.2vw;
}

.espacoServicos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

.esquerdaServicos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 40%;
    flex-direction: column;
    gap: 1vw;
}

.tituloServicos{
    display: flex;
    justify-content: center;
    height: 20%;
    width: 80%;
    flex-direction: column;
}

.tituloServicos a{
    color: #ff6d00;
    font-size: 3.3vw;
    font-weight: bold;
}

.fotoServicos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 80%;
    background-color: #adb5bd;
}

.fotoServicos img{
    height: 100%;
    width: 100%;
    border: solid .3vw #ff6d00;
}

.direitaServicos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 40%;
    flex-direction: column;
    margin-top: 2vw;
    gap: 2vw;
}

.daleServicos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.esquerdaDale{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 25%; 
    font-size: 2vw;
    font-weight: bold;
}

.txt3{
    margin-top: 6%;
}

.direitaDale{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 75%;
}

.cimaDale{
    display: flex;
    align-items: center;
    height: 35%;
    width: 100%;
}

.cimaDale a{
    margin-top: 1%;
    color: #ff6d00;
    font-size: 1.8vw;
    font-weight: bold;
}

.baixoDale{
    display: flex;
    justify-content: center;
    height: 65%;
    width: 100%;
}

.baixoDale a{
    margin-top: 5%;
    font-size: 1vw;
}

.espacoClientes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vw;
}

.cimaClientes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25%;
    width: 100%;
}

.tituloCliente{
    display: flex;
    align-items: center;
    width: 79%;
    height: 40%;
}

.tituloCliente a{
    color: #ff6d00;
    font-size: 3.3vw;
    font-weight: bold;
}

.textoCliente{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 79%;
    height: 40%;
}

.textoCliente a{
    font-size: 1.2vw;
}

.baixoClientes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    gap: 2vw;
}

.cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 25%;
    flex-direction: column;
}

.fotoCliente{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border: solid 2px black;
}

.fotoCliente img{
    height: 100%;
    width: 100%;
}

.nomeCliente{
    display: flex;
    
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #ff6d00;
}

.nomeCliente a{
    font-size: 1.2vw;
    font-weight: bold;
    margin-left: 2vw;
}

.espacoDesenvolvimento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vw;
    background-image: url(../PICS/imgsSobreNos/Img_3pessoas.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cimaDev{
    display: flex;
    align-items: center;
    width: 100%;
    height: 45%;
}

.tituloDev{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 80%;
}

.tituloDev a{
    font-size: 3.3vw;
    color: white;
    margin-left: 6vw;
}

.laranja{
    color: #ff6d00 !important;
}

.baixoDev{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 45%;
}

.textoDev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    margin-right: 4vw;
}

.textoDev a{
    font-size: 1.7vw;
    color: white;
}

.espacoFrase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
    background-color: #10002b;
}

.meioFrase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 50%;
}

.propriaFrase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 80%;
}

.propriaFrase a{
    color: #ff6d00;
    font-size: 2.7vw;
    font-weight: bold;
}

.autorFrase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
}

.autorFrase a{
    color: #adb5bd;
    font-size: 2.5vw;
    margin-bottom: 6vw;
}

.espacoTrabalhar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vw;
}

.esquerdaTrabalho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    height: 80%;
}

.tituloTrabalho{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
}

.tituloTrabalho a{
    color: #ff6d00;
    font-size: 3vw;
    font-weight: bold;
    margin-left: 2.2vw;
}

.fotoTrabalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.fotoTrabalho img{
    height: 100%;
    width: 90%;
    border: solid 4px #ff6d00;
}

.direitaTrabalho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 55%;
    margin-top: 12vw;
    gap: 2vw;
}

.divTrabalho{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 25%;
}

.divTrabalho a{
    font-size: 1vw;
}

.laranjaTrabalho{
    color: #ff6d00;
    font-weight: bold;
    font-size: 1.5vw !important;
}